<div><mat-form-field appearance="fill">
  <mat-label>Provincias</mat-label>
  
    <mat-select multiple name="genre" [(ngModel)]="IDPovincia">
      <mat-option *ngFor="let provincia of provincias" [value]="provincia.IDPovincia">
        {{provincia.Provincia}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Precio Min</mat-label>
    <input matInput type="number" placeholder="0"step="0.1"  [(ngModel)]="precioMin">
    <span matSuffix>€</span>
  </mat-form-field>

  
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Precio Max</mat-label>
    <input matInput type="number" placeholder="0" step="0.1" [(ngModel)]="precioMax">
    <span matSuffix>€</span>
  </mat-form-field>




<button mat-raised-button color="accent" (click)="filterGasolinera()">Filtrar</button>
<button mat-raised-button color="accent" (click)="quitarFiltro()">Quitar Filtro</button>

</div>

<div>
  <mat-form-field appearance="fill" *ngIf="mostrar">
    <mat-label>Municipio</mat-label>
    <input matInput autocomplete="true" [matAutocomplete]="auto" [(ngModel)]="municipio">
    <mat-autocomplete #auto="matAutocomplete">  
    <mat-option *ngFor="let municipio of municipiosList" [value]="municipio.Municipio">
        {{municipio.Municipio}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button *ngIf="mostrar" mat-raised-button color="primary" (click)="filterByMunicipio()">Filtrar Municipio</button>
</div>



<button mat-icon-button aria-label="Example icon button with a heart icon" (click)="likeReload()">
  <p>Ir a lista de favoritos</p>
</button>
  


  

  

  


  
  
<div class="scroll-container" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px grid" fxFlexFill fxLayoutAlign="start start">
    <app-gasolinera-item fxFlex="15" class="movie-item" app-gasolinera-item *ngFor="let gasolinera of gasolineraList" [gasolineraInput]="gasolinera"></app-gasolinera-item>
</div>