

<mat-card class="movie-card">
    <mat-card-content>
        <h3 class="movie-title">Nombre de la gasolinera: {{gasolineraInput.rotulo}}</h3>
        <p class="movie-overview">Direccion: {{gasolineraInput.direccion}}</p>
        <p class="movie-overview">Codigo Postal: {{gasolineraInput.cP}}</p>
        <p class="movie-overview">Precio Gasoleo A: {{gasolineraInput.precioGasoleoA}}</p>
        <p class="movie-overview">Precio Gasolina 95E5: {{gasolineraInput.precioGasolina95E5}}</p>
        <p class="movie-overview">Precio Gasolina 98E5: {{gasolineraInput.precioGasolina98E5}}</p>
        <p class="movie-overview">Provincia: {{gasolineraInput.provincia}} {{gasolineraInput.idProvincia}}</p>
        <p class="movie-overview">Horairo: {{gasolineraInput.horario}}</p>
    </mat-card-content>
</mat-card>