

<mat-card class="movie-card">
    <mat-card-content>
        <div class="movie-image">
            <img src="https://lh3.googleusercontent.com/proxy/zQqR5fmU3sa0pqAzF-zbcddrJEQMD6pizvJQXHXD4-uMC3dZJIpfT6Aipw1orvfS8osSMW6sAbTIMqABnE333JkO5FtVP0W9xlmCf3Z1I1vwB_-M5WJG6GAkpNiOOwupINJofqY" width="200px" />
        </div>
        <h3 class="movie-title">{{gasolineraInput.rotulo}}</h3>
        <p class="movie-overview">{{gasolineraInput.direccion}}</p>
       
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button aria-label="Example icon button with a heart icon">
            <mat-icon>favorite_border</mat-icon>
        </button> 
        <button mat-icon-button aria-label="Example icon button with a heart icon">
            <mat-icon>playlist_add</mat-icon>
        </button>

    </mat-card-actions>
</mat-card>

